/* 
колір заголовку #212121
колір абзацу #757575

logo-color-blue акцент #2196f3
logo-color-black #000000
font-color-baner #ffffff
фон банера #2F303A
вторичний цвет фона #F5F4FA

#2F303A
rgba(255, 255, 255, 0.6)
*/
/* 
:hover- при наведенні мишки міняеться (шрифт,колір )
:focus- при наведенні табом міняе ()
:active - при кліку міняє ()
:
*/

/* Шапка сайта */
body {
	background-color: #ffffff;
	color: #757575;
}
.site-nav a:active,
.site-nav a:focus,
.site-nav a:hover {
	color: #2196f3;
}

/* Головний блок */

/* Підвал сайту */
